.left-nav{
	height:100%;
	background-color:#1aa3ff;
}

html{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.title-nav{
	font-size:large;
	text-align:center;
	padding:15px;
	font-weight:800;

}

.up{
	z-index:2000;
	position:absolute;
	left:110%;
	top:10%;

}

.down{
	z-index:2000;
	position:absolute;
	left:110%;
	top:20%;

}

.topic-element{
	display:block;
	padding:10px;
	font-weight:700;
}

.topic-element:hover{
	background-color:#f2f2f2;
	cursor:pointer;
}

.topic-element-hover{
	background-color:#f2f2f2!important;
}